<div
  class="accordion-item
    {{this.emberSundries.accordionItemDefaultClasses}}
    {{this.openDefaultClasses}}
    {{this.closedDefaultClasses}}
    {{if this.open 'open'}}"
  data-test-type="accordion-item"
  {{did-insert this.didInsert}}
  ...attributes
>
  <div
    class={{concat
      "accordion-item-header"
      " "
      @accordionHeaderClass
      " "
      this.emberSundries.accordionItemHeaderDefaultClasses
    }}
    {{on "click" this.toggle}}
    data-test-class="accordion-header"
  >
    {{#if (has-block "accordionHeaderContent")}}
      {{yield to="accordionHeaderContent"}}
    {{else}}
      {{this.parsedTitle}}
    {{/if}}
    {{#if this.open}}
      <EmberSundries::Svg::ArrowUp class="accordion-expand-collapse-icon" />
    {{else}}
      <EmberSundries::Svg::ArrowDown class="accordion-expand-collapse-icon" />
    {{/if}}
  </div>
  {{#if (or @toggleWithCss this.open)}}
    <div class="accordion-item-content" data-test-class="accordion-content">
      <div class="accordion-item-content-inner">
        {{yield}}
      </div>
    </div>
  {{/if}}
</div>