<div
  data-test-class={{this.dataTestClass}}
  class="input-file-wrapper {{if this.disabled 'disabled'}}"
  ...attributes
>
  {{#if @buttonIconComponent}}
    <@buttonIconComponent />
  {{/if}}
  {{@buttonText}}
  <form class="file-select-button">
    <EmberSundries::InputTypeFile
      @sendFiles={{this.sendFiles}}
      @multiple={{@multiple}}
      @disabled={{@disabled}}
      @accept={{@allowedMimeTypesList}}
    />
  </form>
</div>