{{#if this.truncated}}
  <EmberSundries::BasicDropdownHover>
    <:triggerComponent>
      {{this.truncated}}{{this.afterTruncatedText}}
    </:triggerComponent>
    <:contentComponent>
      <div
        class="box-arrow bg-white body-text monospaced border rounded padding-lg card-box-shadow"
      >
        {{@text}}
      </div>
    </:contentComponent>
  </EmberSundries::BasicDropdownHover>
{{else}}
  {{@text}}
{{/if}}